<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>opencycle</title>
    </head>
    <body>


    <div id="app">
        Loading...
    </div>

    <!-- scripts and styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
    </body>
</html>